@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #d2b0dd;
}
* {
  box-sizing: border-box;
  margin: 0;
  line-height: 100%;
  font-family: 'Galmuri11', monospace;
}

header {
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px black;
  padding: 1rem;
}
main {
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  height: 2rem;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  border-bottom: solid 1px black;
}
button {
  border: solid 1px black;
  border-radius: 1rem;
  background: transparent;
  height: 1.5rem;
  cursor: pointer;
}
button:hover {
  background: black;
  color: white;
}
.window {
  overflow: hidden;
  background: white;
}

.line {
  display: flex;
  border-bottom: solid 1px black;
  height: 2rem;
}
.line .cell {
  display: flex;
  align-items: center;
  border-right: dotted 0px black;
  height: 100%;
  font-size: 1rem;
  padding: 0rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}
.line .cell:last-child {
  border-right: none;
}

#preview {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid 1px black;
}
#preview > .display {
  width: 100%;
  height: calc(100% - 12rem - 1rem);
  border-bottom: solid 1px black;
}
#preview > .control {
  width: 100%;
  height: 12rem;
}
#preview-display {
  border: solid 1px black;
  width: 100%;
  height: 50%;
}

#settings {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
#settings > * {
  border: solid 1px black;
}
#settings > .middle {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-height: 0;
}

.typeset .set .value input {
  flex: 1;
  flex-shrink: 1;
  height: 1.25rem;
  width: auto;
  min-width: 0;
  display: block;
  margin: 0;
  padding: 0 0.25rem;
  outline: none;
  border-radius: 0;
  border: solid 1px black;
  font-size: 0.8rem;
}
.typeset .set .value select {
  display: block;
  height: 1.25rem;
  margin: 0;
  padding: 0 0.25rem;
  outline: none;
  border-radius: 0;
  border: solid 1px black;
  font-size: 0.8rem;
}

.editor .line.label {
  border-bottom-style: dashed;
}
.editor .line .cell.name {
  width: 20%;
}
.editor .line .cell.class {
  width: 20%;
}
.editor .line .cell.chars {
  width: 40%;
}
.editor .line .cell.family {
  width: 40%;
}
.editor .line .cell.weight {
  width: 12%;
}
.editor .line .cell.percent {
  width: 12%;
}
.editor .line.input .cell input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 1.25rem;
  background: transparent;
  border-bottom: solid 1px rgb(210, 210, 210);
}
.editor .line:last-child {
  border-bottom: none;
}

.typesets {
  width: 100%;
  flex: 1 1 0;
  min-height: 0;
  overflow-y: scroll;
  position: relative;
}
.typesets .line.label {
  position: sticky;
  top: 0;
  background: white;
}
.typesets .line {
  border-bottom-style: dashed;
}
.typesets .line .cell {
  width: 12%;
}
.typesets .line .cell.name {
  width: 15%;
}
.typesets .line .cell.family {
  width: 25%;
}
.typesets .add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.middle .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  gap: 0.25rem;
  padding: 0 0.25rem;
  border-top: solid 1px black;
}

.complete {
  padding: 0.5rem;
}
